<h3 class="center heading">{{ title | uppercase }}</h3>

<div class="row page_margin">
    <div class="col-md-4">
        <div class="form-group">
            <select class="full_width" id="category" name="category_name" required [(ngModel)]="selectedCategory">
                <option *ngFor="let item of categories" [ngValue]="item.id">
                    {{item.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <select class="full_width" id="difficulty" name="difficulty_level" required
                [(ngModel)]="selectedDifficulty">
                <option *ngFor="let item of difficulties" [ngValue]="item">
                    {{item | titlecase }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <button (click)="createQuiz()">Create</button>
    </div>
</div>

<div class="row page_margin">
    <div *ngFor="let item of questions; let i = index">
        <div class="quiz">
            {{item.question | htmlToText}}
        </div>
        <table class="options">
            <tr>
                <td *ngFor="let option of item.options">
                    <button class="optionQues" (click)="selectAnswer(option, i)" [class.selectedOption]="option === item.selectedAnswer">
                        {{option | htmlToText}}</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="center quiz" *ngIf="haveAllAnswers">
        <button class="submit submitBtn" (click)="submit()">Submit</button>
    </div>
</div>